/*
 *= require bootstrap/bootstrap.css
 *= require bootstrap-datetimepicker/bootstrap-datetimejs.css
 *= require cleanblog/clean-blog.css
 *= require cleanblog/shop-item.css
 *= require cleanblog/carousel.css
 *= require font-awesome/font-awesome.min.css
 *= require_self
 */

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}