<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3"><%= current_user.first_name %></span> <span class="c-b1"><%= current_user.last_name %></span>
          </h1>
          <hr class="small">
          <span class="subheading"><%= current_user.email %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">

</div>