<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amenity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @amenity.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @amenity.icon %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @amenity.image_url %>
</p>

<%= link_to 'Edit', edit_amenity_path(@amenity) %> |
<%= link_to 'Back', amenities_path %>
