<%= form_for(unit) do |f| %>
    <% if unit.errors.any? %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h4>
          <ul>
            <% unit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :status %>
          <%= f.select :status, unit_statuses, {}, class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :category %>
          <%= f.select :category, unit_categories, {}, class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-4">


        <div class="field form-group">
          <%= f.label :date_available %>
          <%= f.text_field :date_available, type: "date", class: "form-control"%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="field form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :notes %>
          <%= f.text_area :notes, class: "form-control" %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :city %>
          <%= f.select :city, cities, {}, class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="field form-group">
          <%= f.label :address %>
          <%= f.text_area :address, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :size %>
          <div class="input-group">
            <%= f.number_field :size, class: "form-control", step: 0.5, min: 12 %>
            <span class="input-group-addon">square meters</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">

        <div class="field form-group">
          <%= f.label :min_weeks %>
          <%= f.number_field :min_weeks, class: "form-control", min: 1 %>
        </div>


      </div>
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :min_capacity %>
          <%= f.number_field :min_capacity, class: "form-control", min: 1 %>
        </div>
        <div class="field form-group">
          <%= f.label :max_capacity %>
          <%= f.number_field :max_capacity, class: "form-control", min: 1 %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :monthly_price %>
          <div class="input-group">
            <span class="input-group-addon">PHP</span>
            <%= f.number_field :monthly_price, class: "form-control", step: 0.5 %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :weekly_price %>
          <div class="input-group">
            <span class="input-group-addon">PHP</span>
            <%= f.number_field :monthly_price, class: "form-control", step: 0.5 %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :deposit_price %>
          <div class="input-group">
            <span class="input-group-addon">PHP</span>
            <%= f.number_field :monthly_price, class: "form-control", step: 0.5 %>
          </div>
        </div>
      </div>
    </div>






    <div class="row">

      <div class="col-lg-4">
        <div class="field form-group">
          <%= f.label :kitchens %>
          <%= f.number_field :kitchens, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :bedrooms %>
          <%= f.number_field :bedrooms, class: "form-control", min: 1 %>
        </div>

      </div>
      <div class="col-lg-4">

        <div class="field form-group">
          <%= f.label :single_beds %>
          <%= f.number_field :single_beds, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :bunk_beds %>
          <%= f.number_field :bunk_beds, class: "form-control", min: 1 %>
        </div>

      </div>
      <div class="col-lg-4">

        <div class="field form-group">
          <%= f.label :showers %>
          <%= f.number_field :showers, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :sinks %>
          <%= f.number_field :sinks, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :toilets %>
          <%= f.number_field :toilets, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :urinals %>
          <%= f.number_field :urinals, class: "form-control", min: 1 %>
        </div>

        <div class="field form-group">
          <%= f.label :bathtubs %>
          <%= f.number_field :bathtubs, class: "form-control", min: 1 %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">

        <div class="actions">
          <%= f.submit class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>



<% end %>
