<header class="intro-header">
  <div class="container">
    <div class="site-heading">
      <h1>
        <span class="c-b3">Edit</span>
        <span class="c-b1">Unit</span>
      </h1>
      <hr class="small">
      <span class="subheading">This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</span>
    </div>
  </div>
</header>
<hr>
<br>

<%= render 'form', unit: @unit %>
<hr>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= link_to 'Show', @unit, class: "btn btn-warning btn-block" %>
  </div>
  <div class="col-lg-4">
    <%= link_to 'Back', units_path, class: "btn btn-default btn-block" %>
  </div>
</div>


