<header class="intro-header">
  <div class="container">
    <div class="site-heading">
      <h1>
        <span class="c-b3">My</span>
        <span class="c-b1">Units</span>
      </h1>
      <hr class="small">
      <span class="subheading">This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</span>
    </div>
  </div>
</header>
<hr>
<br>
<div class="" id="units">
  <div class="input-group">
    <input type="text" class="search form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default sort" type="button" data-sort="unit-name">name <i class="fa fa-sort"></i></button>
        <button class="btn btn-default sort" type="button" data-sort="unit-price">price <i class="fa fa-sort"></i> </button>
        <button class="btn btn-default sort" type="button" data-sort="unit-location">location <i class="fa fa-sort"></i></button>
        <%= link_to 'New Unit', new_unit_path, class: "btn btn-success" %>
      </span>
  </div>
  <br>
  <div class="row list">


    <% @units.each do |unit| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="<%= unit_url(unit) %>" style="cursor: pointer">
              <img class="slide-image" src="http://placehold.it/320x180" alt="">
            </a>
            <div class="text-center">
              <small class="">
                <strong>
                  <a href="<%= unit %>" class="unit-name"><%= unit.name %> </a>
                </strong>
                <p><%= unit.description %></p>
              </small>
            </div>
            <div class="text-center">
              <div class="btn btn-group btn-group-justified btn-group" style="margin: 0px; padding: 0px">
                <a href="#" class="btn btn-clear unit-location">
                  <%= unit.city.upcase %>

                </a>

                <a href="#" class="btn btn-clear" style="">
                  <%= unit.category %> <br>
                </a>
                <a href="#" class="btn btn-clear">
                  <%= unit.size %> m²
                </a>
              </div>
              <div class="btn btn-group btn-group-justified btn-group" style="margin: 0px; padding: 0px">
                <a href="#" class="btn btn-clear unit-filled">
                  <%= unit.min_capacity %> - <%= unit.max_capacity %>
                  <br> TENANTS
                </a>
                <a href="#" class="btn btn-clear unit-price">
                  PHP <%= unit.monthly_price %> <br/>MONTH
                </a>

              </div>
            </div>
            <div class="btn btn-group btn-group-justified" style="margin: 0px; padding: 0px">
              <%= link_to 'Show', unit, class: "btn btn-default" %>
              <%= link_to 'Edit', edit_unit_path(unit), class: "btn btn-warning" %>
              <%= link_to 'Destroy', unit, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
            </div>
          </div>

        </div>
        </div>
    <% end %>
    </div>
</div>