<header class="intro-header">
  <div class="container">
    <div class="site-heading">
      <h1>
        <span class="c-b3">My</span>
        <span class="c-b1">Units</span>
      </h1>
      <hr class="small">
      <span class="subheading">This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</span>
    </div>
  </div>
</header>
<hr>
<br>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Status</th>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Size</th>
    <!--<th>Monthly price</th>-->
    <!--<th>Weekly price</th>-->
    <!--<th>Deposit price</th>-->
    <!--<th>City</th>-->
    <!--<th>Address</th>-->
    <!--<th>Min capacity</th>-->
    <!--<th>Max capacity</th>-->
    <!--<th>Showers</th>-->
    <!--<th>Sinks</th>-->
    <!--<th>Toilets</th>-->
    <!--<th>Urinals</th>-->
    <!--<th>Bathtubs</th>-->
    <!--<th>Kitchens</th>-->
    <!--<th>Bedrooms</th>-->
    <!--<th>Single beds</th>-->
    <!--<th>Bunk beds</th>-->
    <!--<th>Date available</th>-->
    <th>Min weeks</th>
    <th>Notes</th>
    <!--<th>User</th>-->
    <th colspan="3" width="10%">
      <%= link_to 'New Unit', new_unit_path, class: "btn btn-success btn-block" %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @units.each do |unit| %>
      <tr>
        <td><%= unit.status %></td>
        <td><%= unit.category %></td>
        <td><%= unit.name %></td>
        <td><%= unit.description %></td>
        <!--<td><%= unit.size %></td>-->
        <!--<td><%= unit.monthly_price %></td>-->
        <!--<td><%= unit.weekly_price %></td>-->
        <!--<td><%= unit.deposit_price %></td>-->
        <!--<td><%= unit.city %></td>-->
        <!--<td><%= unit.address %></td>-->
        <!--<td><%= unit.min_capacity %></td>-->
        <!--<td><%= unit.max_capacity %></td>-->
        <!--<td><%= unit.showers %></td>-->
        <!--<td><%= unit.sinks %></td>-->
        <!--<td><%= unit.toilets %></td>-->
        <!--<td><%= unit.urinals %></td>-->
        <!--<td><%= unit.bathtubs %></td>-->
        <!--<td><%= unit.kitchens %></td>-->
        <!--<td><%= unit.bedrooms %></td>-->
        <!--<td><%= unit.single_beds %></td>-->
        <!--<td><%= unit.bunk_beds %></td>-->
        <td><%= unit.date_available %></td>
        <td><%= unit.min_weeks %></td>
        <td><%= unit.notes %></td>
        <!--<td><%= unit.user %></td>-->
        <td><%= link_to 'Show', unit, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
