<header class="intro-header">
  <div class="container">
    <div class="site-heading">
      <h1>
        <span class="c-b1"> <%= @unit.name.capitalize %></span>
      </h1>
      <hr class="small">
      <span class="subheading"><%= @unit.description.capitalize %> ...</span>
    </div>
  </div>
</header>
<hr>
<br>

<p>
  <strong>Status:</strong>
  <%= @unit.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @unit.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @unit.size %>
</p>

<p>
  <strong>Monthly price:</strong>
  <%= @unit.monthly_price %>
</p>

<p>
  <strong>Weekly price:</strong>
  <%= @unit.weekly_price %>
</p>

<p>
  <strong>Deposit price:</strong>
  <%= @unit.deposit_price %>
</p>

<p>
  <strong>City:</strong>
  <%= @unit.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Min capacity:</strong>
  <%= @unit.min_capacity %>
</p>

<p>
  <strong>Max capacity:</strong>
  <%= @unit.max_capacity %>
</p>

<p>
  <strong>Showers:</strong>
  <%= @unit.showers %>
</p>

<p>
  <strong>Sinks:</strong>
  <%= @unit.sinks %>
</p>

<p>
  <strong>Toilets:</strong>
  <%= @unit.toilets %>
</p>

<p>
  <strong>Urinals:</strong>
  <%= @unit.urinals %>
</p>

<p>
  <strong>Bathtubs:</strong>
  <%= @unit.bathtubs %>
</p>

<p>
  <strong>Kitchens:</strong>
  <%= @unit.kitchens %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @unit.bedrooms %>
</p>

<p>
  <strong>Single beds:</strong>
  <%= @unit.single_beds %>
</p>

<p>
  <strong>Bunk beds:</strong>
  <%= @unit.bunk_beds %>
</p>

<p>
  <strong>Date available:</strong>
  <%= @unit.date_available %>
</p>

<p>
  <strong>Min weeks:</strong>
  <%= @unit.min_weeks %>
</p>

<p>
  <strong>Notest:</strong>
  <%= @unit.notes %>
</p>
<hr>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= link_to 'Edit', edit_unit_path(@unit), class: "btn btn-warning btn-block" %>
  </div>
  <div class="col-lg-4">
    <%= link_to 'Back', units_path, class: "btn btn-default btn-block" %>
  </div>
</div>

