.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.list-inline {
    white-space: nowrap;
}

.row-fluid {
    white-space: nowrap !important;
    width: 30em;
    overflow-x: hidden !important;
    background: red;
}

.row-fluid .col-sm-2 {
    display: inline-block !important;
}