/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

div, span, input, textarea, li, a, ul, nav {
    border-radius: 0px !important;
}

dd {
    margin-left: 1em;
}

.border, .bordered, .carousel-inner {
    border: 1px solid #ddd;
    border-radius: 0px !important;
}

.btn-default {
    border: 1px solid #ddd;
    background: white;
    color: #202120;
}

.btn-default:hover {
    background: #343535;
}

.btn-danger {
    border: 1px solid #ddd;
    background: white;
    color: #d9534f;
}

.btn-danger:hover {
    background: #d9534f;
    color: #2A2B2B;
}

.btn-primary {
    border: 1px solid #ddd;
    background: white;
    color: #286090;
}

.btn-primary:hover {
    background: #286090;
    color: #2A2B2B;
}

.btn-success {
    border: 1px solid #ddd;
    background: white;
    color: #5cb85c;
}

.btn-success:hover {
    background: #5cb85c;
    color: #2A2B2B;
}

.btn-warning {
    border: 1px solid #ddd;
    background: white;
    color: #f0ad4e;
}

.btn-warning:hover {
    background: #f0ad4e;
    color: #2A2B2B;
}

.btn-info {
    border: 1px solid #ddd;
    background: white;
    color: #5bc0de;
}

.btn-info:hover {
    background: #5bc0de;
    color: #2A2B2B;
}

.c-g1 {
    color: #00DF60 !important;
}

.c-g2 {
    color: #00BF54 !important;
}

.c-b1 {
    color: #202120 !important;
}

.c-b2 {
    color: #2A2B2B !important;
}

.c-b3 {
    color: #323535 !important;
}

.bg-g1 {
    background: #00DF60 !important;
}

.bg-g2 {
    background: #00BF54 !important;
}

.bg-b1 {
    background: #202120 !important;
}

.bg-b2 {
    background: #2A2B2B !important;
}

.bg-b3 {
    background: #323535 !important;
}

body {
    font-family: 'Calibri', 'Times New Roman', serif;
    font-size: 20px;
    color: #2A2B2B;
}

p {
    line-height: 1.5;
    /*margin: 30px 0;*/
    margin: .5em 0;
}

.form-control {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 0;
    height: 51.5px !important;
}

/*input[type='password'] {*/
/*text-align: center;*/
/*}*/

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

a {
    color: #2A2B2B;
}

a:hover,
a:focus {
    color: #00BF54;
}

a img:hover,
a img:focus {
    cursor: zoom-in;
}

blockquote {
    color: #777777;
    font-style: italic;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #202120;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
    font-weight: 800;
}

.navbar-custom .navbar-header .navbar-toggle {
    color: #777777;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }

    .navbar-custom .navbar-brand {
        /*color: #202120;*/
        padding: 20px;
    }

    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: #00BF54;
        /*color: rgba(255, 255, 255, 0.8);*/
    }

    .navbar-custom .nav li a {
        /*color: #202120;*/
        padding: 20px;
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: #00BF54;
        /*color: rgba(255, 255, 255, 0.8);*/
    }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .navbar-custom.is-fixed .navbar-brand {
        color: #2A2B2B;
    }

    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #00BF54;
    }

    .navbar-custom.is-fixed .nav li a {
        color: #2A2B2B;
    }

    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: #00BF54;
    }

    .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.intro-header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 2em;
}

.main-container {
    padding-top: 4em;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {

    color: #202120;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        /*padding: 150px 0 0 0;*/
    }
}

.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.intro-header .post-heading .meta a {
    color: #202120;
}

@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }

    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}

.post-preview > a {
    color: #2A2B2B;
}

.post-preview > a:hover,
.post-preview > a:focus {
    text-decoration: none;
    color: #00BF54;
}

.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}

.post-preview > .post-meta {
    color: #777777;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.post-preview > .post-meta > a {
    text-decoration: none;
    color: #2A2B2B;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
    color: #00BF54;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    /*padding: 50px 0 65px;*/
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #00BF54;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: .5px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

/*.btn-default:hover,*/
/*.btn-default:focus {*/
/*background-color: #00BF54;*/
/*border: 1px solid #00BF54;*/
/*color: #202120;*/
/*}*/

.pager {
    margin: 20px 0 0;
}

.pager li > a,
.pager li > span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0;
}

.pager li > a:hover,
.pager li > a:focus {
    color: #202120;
    background-color: #00BF54;
    border: 1px solid #00BF54;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #2A2B2B;
    cursor: not-allowed;
}

::-moz-selection {
    color: #202120;
    text-shadow: none;
    background: #00DF60;
}

::selection {
    color: #202120;
    text-shadow: none;
    background: #00DF60;
}

img::selection {
    color: #202120;
    background: transparent;
}

img::-moz-selection {
    color: #202120;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #00DF60;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    /*background: white;*/
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: white;
}

.navbar-default .navbar-toggle {
    border-radius: 0px;
}

.navbar-custom .nav li a:hover {
    color: #00BF54;
}

.tooltip.top {
    border-radius: 100px;
    font-size: 1em;
}

.tooltip-inner {
    max-width: 100%;
}

.tooltip.top .tooltip-inner {
    padding: 1em;
    margin-bottom: .25em;
    background-color: #202120;
}

.tooltip.top .tooltip-arrow {
    margin-bottom: .25em;
    border-top-color: #202120;
}

.btn:hover {
    color: white;
}

.btn-clear:hover {
    cursor: default;
    color: #2A2B2B;
}

img {
    cursor: pointer !important;
}

.borderless {
    border: 1px solid rgba(0, 0, 0, 0);
}