<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">Log</span> <span class="c-b1">In</span>
          </h1>
          <hr class="small">

          <span class="subheading">Welcome back! or Welcome for the first time! </span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="actions clearfix">
         <button class="btn btn-success btn-block pull-right" type="submit">Log In <i class="fa fa-sign-in"></i></button>
        </div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
  </div>
</div>

