<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @bookmark.unit %>
</p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
