<footer class="">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="#" data-toggle="tooltip" title="@FlatFinderPH">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/flatfinder.ph" target="_blank" data-toggle="tooltip" title="fb.com/flatfinder.ph">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="@FlatFinderPH">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="mailto:flatfinder.ph@gmail.com?subject=FlatFinder" target="_blank" data-toggle="tooltip" title="flatfinder.ph@gmail.com">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="+63 916 214 442 5">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-lg-8">
        <h3 class="centered">FIND US</h3>
        <div  style="height: 14em;" class="border">
          <div id="map-container-footer" style="height: 100%; width: 100%">
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-4">
        <h3 class="centered">SEND US A MESSAGE</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="text1" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="text1" placeholder="Your Name">
            </div>
          </div>
          <div class="form-group">
            <label for="mobile" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="text1" placeholder="Mobile Number">
            </div>
          </div>
          <div class="form-group">
            <label for="message-box" class="col-lg-4 control-label"></label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="text1" placeholder="Message">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10">
              <button type="submit" class="btn btn-danger pull-right">
                Submit
                <i class="fa fa-envelope-o"></i>
              </button>
            </div>
          </div>
        </form><!-- form -->
      </div><!-- col FORM -->

    </div>
  </div>
  <div class="container">
    <hr/>
    <p class="text-center">Copyright &copy; FlatFinder.com 2016</p>
  </div>
</footer>