<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <img src="<%= "/icon.png" %>" width="128" alt="" class="img img-responsive center-block">
          <hr class="small">
          <h1>
            <span class="c-b3">Flat</span><span class="c-b1">Finder</span>
          </h1>

          <span class="subheading">Your next place is just a few clicks away</span>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>
<br/>
