<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="<%= root_url %>#">
        <img src="<%= "/icon_navbar.png" %>" alt="" class="" style="height: 1.5em; display: inline; ">
        <span class="c-b3">Flat</span><span class="c-b1">Finder</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= root_url %>#">Home</a>
        </li>
        <li>
          <a href="<%= search_url %>">Search</a>
        </li>
        <li>
          <a href="<%= about_url %>">About</a>
        </li>
        <li>
          <a href="<%= faqs_url %>">Faqs</a>
        </li>

        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= current_user.email %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="<%= edit_user_registration_url %>">Manage Account</a></li>
                <li class="divider"></li>
                <!--<li><a href="#">Reservations</a></li>-->
                <!--<li><a href="#">Payments</a></li>-->
                <li><a href="<%= bookmarks_url %>">Bookmarks</a></li>
                <li><a href="<%= units_path %>">Units</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to('Logout', destroy_user_session_url, :method => :delete) %>
                </li>
              </ul>
            </li>

        <% else %>
            <li>
              <a href="<%= new_user_session_url %>">Login</a>
            </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>