<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">Manage</span> <span class="c-b1">Account</span>
          </h1>
          <hr class="small">

          <span class="subheading">Update your personal information! </span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>
        <div class="field form-group row">
          <div class="col-lg-6">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-lg-6">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :birthdate %><br/>
          <%= f.text_field :birthdate, type: "date", autofocus: true, class: "form-control", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :gender %><br/>
          <%= f.select :gender, genders, {}, {class: "form-control"} %>
        </div>

        <hr>

        <div class="field form-group">
          <%= f.label :city %><br/>
          <%= f.select :city, cities, {}, {class: "form-control"} %>
        </div>

        <div class="field form-group">
          <%= f.label :address %><br/>
          <%= f.text_area :address, class: "form-control" %>
        </div>

        <hr>
        <div class="field form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <small>(leave blank if you don't want to change it)</small><br/>
          <% if @minimum_password_length %>
              <small><%= @minimum_password_length %> characters minimum</small>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          <small>(we need your current password to confirm your changes)</small><br/>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>
    <% end %>
    <hr>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-block" %></p>
  </div>
</div>
