<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">Sign</span> <span class="c-b1">Up</span>
          </h1>
          <hr class="small">

          <span class="subheading">Hello new user! Welcome to the building! </span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group row">
          <div class="col-lg-6">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-lg-6">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :birthdate %><br/>
          <%= f.text_field :birthdate, type: "date", autofocus: true, class: "form-control", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :gender %><br/>
          <%= f.select :gender, genders, {}, {class: "form-control"} %>
        </div>

        <hr>

        <div class="field form-group">
          <%= f.label :city %><br/>
          <%= f.select :city, cities, {}, {class: "form-control"} %>
        </div>

        <div class="field form-group">
          <%= f.label :address %><br/>
          <%= f.text_area :address, class: "form-control" %>
        </div>

        <hr>

        <div class="field form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <div class="actions clearfix">
            <button class="btn btn-success btn-block pull-right" type="submit">Sign Up</i>
            </button>
          </div>
        </div>
    <% end %>
    <hr/>
    <%= render "devise/shared/links" %>
  </div>
</div>
