<!DOCTYPE html>
<html>
<head>
  <title>FlatFinder</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="flatfinder dev">
  <meta name="author" content="wilhelm paul martinez">
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-86179408-1', 'auto');
    ga('send', 'pageview');

  </script>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'flatfinder', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<%= render "shared/navbar" %>
<div class="container main-container">

  <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class=""><%= alert %></p>
      </div>
  <% end %>
  <%= yield %>
</div>
<%= render "shared/footer" %>
</body>

<%= javascript_include_tag 'flatfinder', 'data-turbolinks-track': 'reload' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYH79TK3d78N4J5vCWWxhDcUxagMGmaiI&callback=initMap" type="text/javascript"></script>
</html>
