<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">About</span> <span class="c-b1">Us</span>
          </h1>
          <hr class="small">

          <span class="subheading">Let us introduce ourselves to you guys!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>
<br>
<br>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 callout">
    <br>
    <div class="text-center">
      <i class=" fa-4x fa fa-folder-open-o"></i>
      <h3>Solomon Chua</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>
    </div>
    <ul class="list-inline text-center">
      <li>
        <a href="https://www.facebook.com/solomon.chua.10" target="_blank" data-toggle="tooltip" title="solomon.chua.10">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
        </a>
      </li>
      <li>
        <a href="mailto:slmnchua@gmail.com?subject=FlatFinder" target="_blank" data-toggle="tooltip" title="slmnchua@gmail.com">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div><!-- col-lg-4 -->
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-2 callout">
    <br>
    <div class="text-center">
      <i class=" fa-4x fa fa-photo"></i>
      <h3>Justine Lopez</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>
    </div>
    <ul class="list-inline text-center">
      <li>
        <a href="https://www.facebook.com/jlorean" data-toggle="tooltip" target="_blank" title="jlorean">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
        </a>
      </li>
      <li>
        <a href="mailto:jloreanlopez@gmail.com?subject=FlatFinder" target="_blank" data-toggle="tooltip" title="jloreanlopez@gmail.com">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div><!-- col-lg-4 -->

  <div class="col-lg-4 callout">
    <br>
    <div class="text-center">
      <i class=" fa-4x fa fa-code-fork"></i>
      <h3>Wilhelm Martinez</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>
    </div>
    <ul class="list-inline text-center">
      <li>
        <a href="https://www.facebook.com/wilhelmpaulm" data-toggle="tooltip" target="_blank" title="wilhelmpaulm">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/wilhelmpaulm" target="_blank" data-toggle="tooltip" title="@wilhelmpaulm">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/wilhelmpaulm" target="_blank" data-toggle="tooltip" title="wilhelmpaulm">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="mailto:wilhelmpaulm@gmail.com?subject=FlatFinder" target="_blank" data-toggle="tooltip" title="wilhelmpaulm@gmail.com">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>