<header class="intro-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">Contact</span> <span class="c-b1">Us</span>
          </h1>
          <hr class="small">

          <span class="subheading">Got comments, questions or even love letters for us? </span>
        </div>
      </div>
    </div>
  </div>
</header>
