<%= render "shared/header" %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates
      odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
    <blockquote class="">
      <h3>
        ''FlatFinder aims to provide a proper affordable place to live for working individuals to share. Stay close
        to
        your
        workplace in order to avoid traffic and save money.''
      </h3>
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto
      error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas
      voluptatibus, minus!</p>

  </div>
</div>
<hr>
<br>
<div class="row">
  <div class="col-lg-4 callout">
    <div class="text-center">
      <i class=" fa-4x fa fa-clock-o"></i>
      <h3> More Me Time</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div>
  <div class="col-lg-4 callout">
    <div class="text-center">
      <i class=" fa-4x fa fa-cab"></i>
      <h3>Cut Travel Costs</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div><!-- col-lg-4 -->

  <div class="col-lg-4 callout">
    <div class="text-center">
      <i class=" fa-4x fa fa-bullhorn"></i>
      <h3>Less Stress</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div><!-- col-lg-4 -->
</div>
<br>
<div class="row">
  <div class="col-lg-4 col-lg-offset-2 callout">
    <div class="text-center">
      <i class=" fa-4x fa fa-heart-o"></i>
      <h3>Better Relationships</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div><!-- col-lg-4 -->

  <div class="col-lg-4 callout">
    <div class="text-center">
      <i class=" fa-4x fa fa-building-o"></i>
      <h3>A Safer Environment</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div>
</div>
