<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            <span class="c-b3">Search</span> <span class="c-b1">Listings</span>
          </h1>
          <hr class="small">

          <span class="subheading">Browse listings in your preferred location</span>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>
<br>
<br>
<div class="" id="units">
  <div class="input-group">
    <input type="text" class="search form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-default sort" type="button" data-sort="unit-name">name <i class="fa fa-sort"></i></button>
        <button class="btn btn-default sort" type="button" data-sort="unit-price">price <i class="fa fa-sort"></i> </button>
        <button class="btn btn-default sort" type="button" data-sort="unit-location">location <i class="fa fa-sort"></i></button>
      </span>
  </div>
  <br>
  <div class="row list">
    <% @units.each do |unit| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="<%= search_single_url(unit) %>" style="cursor: pointer">
              <img class="slide-image" src="http://placehold.it/320x180" alt="">
            </a>
            <div class="text-center">
              <small class="">
                <strong>
                  <a href="<%= search_single_url(unit) %>" class="unit-name"><%= unit.name.capitalize %> </a>
                </strong>
                <p><%= unit.description.capitalize %></p>
              </small>
            </div>
            <small>
              <div class="row text-center">
                <div class="col-xs-4">
                <span href="#" class="unit-location">
                  <%= unit.city.upcase %>
                </span>
                </div>
                <div class="col-xs-4">
                  <%= unit.size %> m²
                  <br>
                  <%= unit.category.upcase %>
                </div>
                <div class="col-xs-4">
                  <%= unit.bedrooms %> BEDROOMS</i>
                </div>
              </div>
              <br>
              <div class="text-center">
                <div class="col-xs-6">
                <span class="unit-filled">
                  <%= unit.min_capacity %> - <%= unit.max_capacity %>
                  <br> TENANTS
                </span>
                </div>
                <div class="col-xs-6">
                <span class="unit-price">
                  PHP <%= unit.monthly_price %> <br/>MONTH
                </span>
                </div>
              </div>
            </small>
              <br>
              <br>
          </div>
        </div>
    <% end %>
  </div>
</div>