<header class="intro-header">
  <div class="container">
    <div class="site-heading">
      <h1>
        <span class="c-b1"><%= @unit.name.capitalize %></span>
      </h1>
      <hr class="small">
      <span class="subheading"><%= @unit.description.capitalize %></span>
    </div>
  </div>
</header>
<hr>
<br>
<div class="row">
  <div class="col-xs-12" id="slider">
    <!-- Top part of the slider -->
    <div class="row">
      <div class="col-sm-8" id="carousel-bounding-box">
        <div class="carousel slide" id="myCarousel">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item" data-slide-number="0">
              <img src="http://placehold.it/770x300&text=one"></div>

            <div class="item" data-slide-number="1">
              <img src="http://placehold.it/770x300&text=two"></div>

            <div class="item" data-slide-number="2">
              <img src="http://placehold.it/770x300&text=three"></div>

            <div class="item" data-slide-number="3">
              <img src="http://placehold.it/770x300&text=four"></div>

            <div class="item" data-slide-number="4">
              <img src="http://placehold.it/770x300&text=five"></div>

            <div class="item" data-slide-number="5">
              <img src="http://placehold.it/770x300&text=six"></div>
          </div><!-- Carousel nav -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="col-sm-4" id="carousel-text"></div>

      <div id="slide-content" style="display: none;">
        <div id="slide-content-0">
          <h3 class="c-g2">Slider One</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>

        <div id="slide-content-1">
          <h3 class="c-g2">Slider Two</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>

        <div id="slide-content-2">
          <h3 class="c-g2">Slider Three</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>

        <div id="slide-content-3">
          <h3 class="c-g2">Slider Four</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>

        <div id="slide-content-4">
          <h3 class="c-g2">Slider Five</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>

        <div id="slide-content-5">
          <h3 class="c-g2">Slider Six</h3>
          <p>Lorem Ipsum Dolor</p>
        </div>
      </div>
    </div>
  </div>
</div><!--/Slider-->

<div class="row hidden-xs" id="slider-thumbs">
  <!-- Bottom switcher of slider -->
  <ul class="hide-bullets">
    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
    </li>

    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
    </li>

    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
    </li>

    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
    </li>

    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
    </li>

    <li class="col-sm-2">
      <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
    </li>
  </ul>
</div>
<hr>
<div class="unit-description">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="c-g2">Description</h3>
      <span>
      <%= @unit.description.capitalize %>
      </span>
      </span> <h3 class="c-g2">Location</h3>
      <span>
        <%= @unit.city.capitalize %>
      </span>
      <div style="height: 8em;" class="border">
        <div id="map-container" style="height: 100%; width: 100%">
        </div>
      </div>
      </span>
      <span>
        <%= @unit.address.capitalize %>
        <h3 class="c-g2">Landmarks Nearby</h3>
      </span>
      <span>
        <ul class="list-inline text-center">
          <li>
            <a href="#" data-toggle="tooltip" title="Near major offices">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Near hospitals">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Located near rails roads">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-train fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Near a mall">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-shopping-bag fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Accessible by taxi / uber / grab">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Near a grocery">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Bicycle friendly area">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="Ramps for wheelchairs">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </span>
      <div class="row">

        <div class="col-lg-6">
          <h3 class="c-g2">House Rules</h3>
          <div>
            <ul>
              <li>No Smoking</li>
              <li>Not suitable for pets</li>
              <li>No parties or events</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="c-g2">Amenities</h3>
          <div>
            <ul>
              <li>2 Bedrooms</li>
              <li>1 Shower</li>
              <li>2 Toilets</li>
              <li>1 Bathtub</li>
              <li>Kitchen</li>
              <li>Wifi</li>
              <li>Laundry Room</li>
              <li>Dining Room</li>
              <li>TV</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="c-g2">Type</h3>
      <p> <%= @unit.category.capitalize %></p>
      <h3 class="c-g2">Size</h3>
      <p> <%= @unit.size %> </p>
      <h3 class="c-g2">Date Available</h3>
      <p> <%= @unit.date_available %></p>
      <h3 class="c-g2">Capacity</h3>
      <p> <%= @unit.min_capacity %> TO <%= @unit.max_capacity %> Tenants</p>
      <h3 class="c-g2">Prices</h3>
      <p> PHP <%= @unit.monthly_price %> Per Month</p>
      <p> PHP <%= @unit.weekly_price %> Per Week</p>
    </div>
  </div>
</div>
